<mat-toolbar color="primary">
  <img src="/assets/images/logo.png" widh=41 height=31>
  <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active" ><span class="fa fa-home fa-lg"></span>Home</a>
  <a mat-button [routerLink]="['/about']" routerLinkActive="router-link-active" ><span class="fa fa-info fa-lg"></span>About</a>
  <a mat-button  [routerLink]="['/menu']" routerLinkActive="router-link-active"  ><span class="fa fa-list fa-lg"></span>Menu</a>
  <a mat-button   [routerLink]="['/contact']" routerLinkActive="router-link-active"   ><span class="fa fa-address-card fa-lg"></span>Contact</a>
</mat-toolbar>

  <div class="container header"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayout.sm="column"
       fxLayoutAlign="start center"
       fxLayoutGap="30px"
                 >



     <div fxFlex   fxFlex.gt-sm="50%" >
        <h1>Ristorante 3t</h1>
        <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
        will tickle your culinary senses!</p>
      </div>



     <div fxFlex fxFlex.gt-sm="20%" >
       <img src="/assets/images/logo.png">
      </div>



  </div>


