<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div [hidden]="dish || Errmsgdish">

        <mat-spinner></mat-spinner>
        <h3>Loading ... please wait</h3>
    </div>

    <div *ngIf="Errmsgdish">
        <h3>Error {{Errmsgdish}}</h3>
    </div>


    <div fxFlex="40" *ngIf="dish">

        <mat-card [@visibility]="visibility">
            <mat-card-header>
                <mat-card-title>
                    {{dish.name}}
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{baseURL+dish.image}}">
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail', prev]" routerLinkActive="router-link-active"><span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click)='goBack()'>Back</button>
                <button mat-button>SHARE</button>

                <button mat-button [routerLink]="['/dishdetail' , next]" routerLinkActive="router-link-active"><span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>
        </mat-card>

    </div>



    <div [hidden]="comments || Errmsgdish">

        <mat-spinner></mat-spinner>
        <h3>Loading ... please wait</h3>
    </div>

    <div *ngIf="Errmsgdish">
        <h3>Error {{Errmsgdish}}</h3>
    </div>

    <div fxFlex="40" *ngIf="comments" [@visibility]="visibility">

        <h3>Comments</h3>

        <mat-list>
            <mat-list-item *ngFor="let comment of comments">
                <p mat-line> {{comment.comment}}</p>
                <p mat-line> {{comment.rating}} rating</p>
                <p mat-line>-- {{comment.author}} {{comment.date | date}}</p>


            </mat-list-item>

        </mat-list>

        <form [formGroup]="CommentForm" novalidate (ngSubmit)="putDish()">

            <mat-form-field style="width: 100%">
                <input matInput formControlName="author" placeholder="Your name" required>
                <mat-error *ngIf="FormError.author">{{FormError.author}}</mat-error>
            </mat-form-field>

            <mat-slider thumbLabel tickInterval="1" min="1" max="5" value="5" formControlName="rating">
            </mat-slider>

            <mat-form-field style="width: 100%">
                <textarea matInput formControlName="comment" placeholder="Your comment" cols="12" required></textarea>
                <mat-error *ngIf="FormError.comment">{{FormError.comment}}</mat-error>
            </mat-form-field>
            <button type="submit" [disabled]="CommentForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
        </form>

    </div>

</div>